rules_version = '2';

service cloud.firestore {
  function isAuthor(user) {
    return request.auth != null && request.auth.uid == user;
  }

  match /databases/{database}/documents {
    // version
    match /version/1 {
      allow read;
    }

    // song/chart info
    match /version/1/songs/{document=**} {
      allow read;
    }
    match /{path=**}/charts/{chart} {
      allow read;
    }

    // user info
    match /version/1/users/{user} {
      allow read;
      allow write: if isAuthor(user);

      // user score
      match /scores/{document=**} {
        allow read, write: if isAuthor(user);
      }
    }
  }
}
